* {
    box-sizing: border-box;
  }

/* Body */

.html {
  background-color: rgba(255, 242, 227, 0.836);
}

.body {
    background-color: rgba(255, 242, 227, 0.747);
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.25rem;
    padding: 0 5%;
    width: 100%;
    background-color:  rgba(241, 229, 213, 0.822);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.05);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: fixed;
    z-index: 10;
  }
  
  .header .logo a {
    flex-grow: 1;
    color: #3d7c57;
    font-weight: 600;
    text-decoration: none;
  }
  
  .header .logo a:hover {
    color: rgb(150, 187, 145);
  }
  
  .header li {
    display: inline;
    padding-right: 2.22rem;
  }
  
  .header li a {
    text-decoration: none;
    color: #153f0d;
  }

  .header li a:hover {
    color: rgb(150, 187, 145);
  }

  
  @media only screen and (max-width: 480px) {
    .header {
      flex-direction: column;
    }
  
    .header .logo {
      flex-grow: 0;
    }
  }
  
  @media only screen and (max-width: 1600px) {
    .maincontent {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .profilepic {
      display: inline-flexbox;
      top: 4.44rem;
      width: 27rem;
      height: auto;
      margin: 1rem;
      flex: 1;
    }
    
    .aboutme {
      display: inline-flex;
      top: 4.44rem;
      margin: 1rem;
      color:white;
      align-self: center;
      flex: 1;
      font-size: 1.2rem;
    }


  }
  /* Banner and Content */
  .banner {
    background: linear-gradient( rgba(248, 238, 233, 0.5), rgba(238, 226, 217, 0.5) ), 
    url(../images/IMG_8190.jpg);
    text-align: center;
    height: 28rem;
    padding: 6.3rem 6.3rem;
    top: 4.40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    box-sizing: border-box;
    color: rgba(9, 44, 19, 0.829);
    text-shadow: 2px 2px 2px rgba(255, 246, 235, 0.41);
}

.banner .content  {
    border: 0.2rem solid rgba(255, 246, 235, 0.41);
    position: relative;
    top: 0px;
    bottom: 0px;
    width: 40rem;
    height: 16rem;
    margin: 0 auto;
  }

.name {
    font-family: 'Montserrat';
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: whitesmoke;
}

.blurb {
    font-family: 'Montserrat';
    font-size: 1.23rem;
    font-weight: 700;
    font-style: italic;
}

.checkbelow {
    color: rgb(6, 48, 9);
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 600;
    min-width: 30rem;
}

.checkbelow a {
  text-decoration: none;
  color: rgb(6, 48, 9);
}

.checkbelow a:hover {
  color: #509459;
}

/* Main Content */
.maincontent {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 400;
  border: 5rem;
  background-color: rgba(1, 24, 8, 0.829);
  background-size: cover;
  background-blend-mode: darken;
  padding: 5rem 5rem;
}

/* Profile Photo */
.profilepic {
  display: inline-flexbox;
  top: 4.44rem;
  margin: 3rem;
  border: 2rem;
  flex: 1;
}

.aboutme {
  display: inline-flex;
  top: 4.44rem;
  margin: 3rem;
  color:white;
  align-self: center;
  flex: 1;
}
/* Contact Me Footer */

.contactme {
    background-color: rgba(255, 242, 227, 0.774);
    display: flex;
    justify-content: space-around;
    position: fixed;
    margin: 1px auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-family: "Montserrat";
    padding: 0 30%;
  }

.contactme h3 {
    font-weight: 400;
    font-size: 1.1rem;
    padding-right: 1rem;
    min-width: 20rem;
    text-align: center;
}
  
  .contactme a {
    background: rgba(255, 247, 239, 0.212);
    border: 1px solid rgb(61, 114, 60);
    height: 2.00rem;
    border-radius: 3px;
    border-style: normal;
    color: rgb(11, 68, 4);
    display: inline-block;
    margin: 0.7rem;
    padding: 0.4rem;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .contactme a:hover {
    background: rgb(163, 202, 153);
    border: 1px solid rgb(167, 202, 162);
    border-style: normal;
    color: white;
  }

  .thinbanner {
    top: 4.4rem;
    position: relative;
    background-color: rgba(148, 190, 147, 0.493);
    padding: 1rem 3rem;
    color: rgb(3, 41, 3);
  }

  .thinbanner .name {
    color: rgb(3, 41, 3);
  }

  .project {
    position: relative;
    top: 4.5rem;
    bottom: 2rem;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    background-color: rgba(238, 224, 204, 0.205);
  }

  .image-stack {
    position: relative;
    max-height: 50rem;
    width: max-content;
    justify-content: center;
    align-content: center;
  }

  .basephoto {
    position: relative;
    width: 30%;
    height: auto;
    margin: 1rem 10%;
}

.photo2 {
  position: absolute;
  transform: scale(1.5);
  top: 0.7rem;
  left: 33%;
}

.photo3 {
  position: absolute;
  transform: scale(5);
  top: 30rem;
  left: 10%;
}

.photo4 {
  position: absolute;
  transform: scale(3);
  top: 100%;
  left: 25%;
}

  .subtitle {
    position: relative;
    color: rgb(8, 66, 8);
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    align-content: center;
    background-color: rgba(245, 222, 179, 0.404);
    padding: 1rem 3rem;
    border: 3px solid rgb(2, 56, 5);
    border-radius: 3px;
}

.description {
  color:rgb(51, 90, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 3% 8%;
  padding: 2rem;
  border: 2px solid rgb(5, 65, 5);
  background: rgba(243, 228, 199, 0.418);
}

.description a {
  text-decoration: none;
  color:  rgb(150, 187, 145);
}

.description a:hover {
  color: #235818;
}

.image-series {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    flex-wrap: wrap;
    padding-left: 10%;
}

.rowimage {
  position: relative;
  max-width: 20rem;
  height: auto;
  margin: 1rem;
}

.embedvid {
  align-content: space-around;
  display: flex;
  margin: 0 33%;
}
